{% block header %}
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Nifti</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">

        <!-- Get the urls for each link in the nav bar. -->
        {% url 'home-home' as home %}
        {% url 'home-about' as about %}
        {% url 'home-login' as login %}
        {% url 'home-register' as register %}
        {% url 'search-home' as search %}

        <!-- Activate link in nav bar and add aria current for the current page. -->
        <a class="nav-link{% if request.path == home %} active" aria-current="page" {% else %}"{% endif %} href="{{ home }}">Home</a>
        <a class="nav-link{% if request.path == search %} active" aria-current="page" {% else %}"{% endif %} href="{{ search }}">Search</a>
        <a class="nav-link{% if request.path == login %} active" aria-current="page" {% else %}"{% endif %} href="{{ login }}">Login</a>
        <a class="nav-link{% if request.path == register %} active" aria-current="page" {% else %}"{% endif %} href="{{ register }}">Register</a>
        <a class="nav-link{% if request.path == about %} active" aria-current="page" {% else %}"{% endif %} href="{{ about }}">About</a>

      </nav>
    </div>
  </header>
{% endblock header %}